﻿@model List<C_Sharp_MVC.Models.StudentModel>
@{
    ViewData["Title"] = "Student";
}
<div class="text-center">
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Program</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.studentName</td>
                <td>@item.studentId</td>
                <td>@item.Program</td>
            </tr>
        }
    </table>
</div>
